@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400,500;600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    height: 100vh;
    background: url(background.jpg) no-repeat center / over;
    padding: 50px 5%;
}

.container {
    position: relative;
    height: 100%;
background: seagreen;
     border-radius: 30px;
    
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px; 
    border-bottom: 2px solid transparent;
    transition: .5s;
}

.navbar a:hover, 
 .navbar a.active {
    border-color: #fff;
}
.home {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: #fff;
}

.home-detail h1 {
    font-size: 55px;
    line-height: 1;
}

.home-detail h2 {
    font-size: 32px;
}

.home-detail P {
    margin:10px 0 20px; 
}

.home-detail .télécharger social {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    border: 2px solid;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: 5s;
}

.btn:hover {
    background: transparent;
    box-shadow: none;
    color: #fff;
}

.home-detail .social-icons {
    margin-left: 20px;
}

.home-detail .social-icons a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 0 8px ;
    transition: .5s;
}

.home-detail .social-icons a:hover {
    background: #fff;
    box-shadow: 0 0 10px;
    color: #333;
}

.profil{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    object-fit: contain;
}




